h1 {
    color: white;
    margin-top: 10px;
}

.editContainer {
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow: auto;
}

.editContainer button {
    width: 80px;
    height: 40px;
    margin: 20px 10px 0 10px;
    border: none;
    color: white;
    background-color: #d09000;
}

.editContainer button:hover {
    color: white;
    background-color: #986a00;
}

#imageCanvas {
    width: 400px;
    border: 5px dashed #d09000;
}
